#new-channel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}

#new-channel-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 199px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.03);
}

.form-nc-title {
    float: left;
    width: 100%;
    text-align: center;
    margin: 14px 0 19px 0;
    font-size: 19px;
    color: #323c47;
}

.input-label{
    width: 100%;
    float: left;
    text-align: center;
    margin: 10px 0;
}

.input-label input {
    margin-left: 10px;
    border: 1px solid black;
}

.address-txtarea {
    border: 1px solid black;
    margin-left: 10px;
}

.span-address {
    line-height: 40px;
}

.input-btn {
    margin: 20px auto;
}
